*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container{
background-image: url("/static/images/assets/backgrounds/h_img.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
} */
 .logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/assets/backgrounds/h_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  padding: 2em;
 }
 .logo h1{
  color: white;
  text-align: center;
 }
 .logo p{
  color: white;
  text-align: center;
 }
 .click h3,p{
   display: flex;
   align-items: center;
  justify-content: center;
   color: black;
   height: 7vh;
   text-align: center;
   padding: 10px;
 }
 .services {
   background-image: url("../images/assets/backgrounds/s_image.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
 }
 .services p{
color: white;
 }
 .what-we-do{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
 }