*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container{
background-image: url("/static/images/assets/backgrounds/h_img.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
} */
 .logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/assets/backgrounds/h_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  padding: 2em;
 }
 .logo h1{
  color: white;
  text-align: center;
 }
 .logo p{
  color: white;
  text-align: center;
 }
 .click h3,p{
   display: flex;
   align-items: center;
  justify-content: center;
   color: black;
   height: 7vh;
   text-align: center;
   padding: 10px;
 }
 .services {
   background-image: url("../images/assets/backgrounds/s_image.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
   line-height: 0em;
 }
.services p{
   margin: 0;
 }
 .services p{
  color: white;
 }
 .what-we-do{
  text-align: center;
}
 .what-we-do-section{
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
   justify-content: space-between;
   align-items: center;
   margin-left: 12em;
   text-align: center;
 }
 .what-we-do h4{
   font-size: 20px;
   font-weight: 400;
 }

 .portfolio{
   padding-top: 4em;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 60vh;
 }
 .portfolio td{
  padding: 15px;
 }
 
 .contact-us {
   margin-top: 4em;
   padding: 2em;
   text-align: center;
   height: 60vh;
   background-image: url("../images/assets/backgrounds/c_image.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
 }
 .form {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 #name{
  display: inline-block;
  height: 40px;
  padding-left: 12px;
  font-size: 1.1em;
  background-color: transparent;
  border: 1.5px solid white;
 }
 #email{
  display: inline-block;
  height: 40px;
  padding-left: 12px;
  font-size: 1.1em;
  background-color: transparent;
  border: 1.5px solid white;
 }
 #email::placeholder{
  color: white;
 }
 #name::placeholder{
  color: white;
}

 #textarea {
   margin: 3em;
  border: 1.5px solid white;
  background-color: transparent;
  resize: none;
  outline: none;
}
#textarea::placeholder{
  padding: 1em;
  color: white;
}

 